<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ApplicationServer"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.opensixen.as.server.ApplicationServer">
         </run>
      </application>
   </extension>

 <extension
         id="OpensixenServer"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.opensixen.as.server.ApplicationServer"
            name="Opensixen Server">
         <property
               name="appName"
               value="Opensixen Server">
         </property>
      </product>
   </extension>
</plugin>
